body {
    font-family: Arial, sans-serif;
}

.item, .recipe-badge {
    cursor: pointer;
    transition: transform 0.2s;
}

.item:hover, .recipe-badge:hover {
    transform: scale(1.05);
}

#items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    padding: 20px;
}

#item-name-container {
    display: flex;
    flex-direction: row;
    gap: .5em;
    height: 2em;
    align-items: center;
}

#item-emoji {
    font-size: 1.5em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Darkened background */
    animation: fadeIn 0.4s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px; /* Rounded corners */
    animation: slideIn .5s;
}

@keyframes slideIn {
    from { margin-top: -50px; opacity: 0; }
    to { margin-top: 5%; opacity: 1; }
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.recipe-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
}
